

    <app-header-user [user]="user" (tabname)="showTab($event)" [actualizarImg]="actImg"> </app-header-user>


    <!-- begin profile-content -->
    <div class="profile-content">
        <!-- begin tab-content -->
        <div class="tab-content p-0">


            <div class="tab-pane fade" [ngClass]="{ 'active show': tabs.editPerfil }">
                <!-- begin table -->
               
                    <div class="table-responsive">
                        <table class="table table-profile" *ngIf="user">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        <h4 class="mr-2 ">
                                            {{ user.username | titlecase}}<small>{{ user.puesto | titlecase}}</small>
                                        </h4>

                                    </th>
                                    <th>

                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="highlight">
                                    <td class="field">Email</td>
                                    <td> {{ user.email }} </td>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td class="field">Cel</td>
                                    <td>{{ user.phoneNumber }}</td>
                                    <td></td>
                                </tr>
                                <tr class="highlight">
                                    <td class="field">Puesto</td>
                                    <td> {{ user.puesto }}</td>
                                    <td></td>
                                </tr>



                            </tbody>
                        </table>
                    </div>
             

                <!-- end table -->
            </div>
 

            <div class="tab-pane fade" [ngClass]="{ 'active show': tabs.equipo }">

                <app-equipo-user [UserId]="user.id"></app-equipo-user>

            </div>


        </div>
        <!-- end tab-content -->
    </div>
    <!-- end profile-content -->

