<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div class="overflow-scroll height-full" #sidebarScrollbar *ngIf="desktopMode" (scroll)="onScroll($event)">
        <ng-container *ngTemplateOutlet="sidebarNav"></ng-container>
    </div>
    <div class="mobile-scroll" *ngIf="mobileMode" (scroll)="onScroll($event)">
        <ng-container *ngTemplateOutlet="sidebarNav"></ng-container>
    </div>
    <!-- end sidebar scrollbar -->
    <ng-template #sidebarNav>
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile" [ngClass]="{ 'active' : (navProfileState == 'expand') }">
                <a href="javascript:;" (click)="toggleNavProfile()">
                    <div class="cover with-shadow"></div>
                    <div class="image image-icon bg-black text-grey-darker">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="info">
                        <b></b> {{ user.username }}
                        <small>{{ user.puesto }}</small>
                    </div>
                </a>
            </li>

        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>
            <ng-template #sidebarMenu let-menu="menu">
                <span class="badge pull-right" *ngIf="menu.badge">{{ menu.badge }}</span>
                <b class="caret" *ngIf="menu.caret"></b>
                <div class="icon-img" *ngIf="menu.img"><img src="{{ menu.img }}" /></div>
                <i class="{{ menu.icon }}" *ngIf="menu.icon"></i>
                <span *ngIf="menu.title">
                  {{ menu.title }}
                  <span class="label label-theme m-l-5" *ngIf="menu.label">{{ menu.label }}</span>
                </span>
            </ng-template>

            <!-- render submenu item -->
            <ng-template #sidebarSubMenu let-menu="menu">
                <b class="caret pull-right" *ngIf="menu.caret"></b> {{ menu.title }}
                <i class="fa fa-paper-plane text-theme m-l-5" *ngIf="menu.highlight"></i>
            </ng-template>

            <!-- sidebar menu -->
            <ng-container *ngFor="let menu of menus">
                <li routerLinkActive="active" #rla1="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" [ngClass]="{ 'expand': (menu.state == 'expand') }">
                    <a *ngIf="!menu.url" (click)="(menu.submenu) ? expandCollapseSubmenu(menu, menus, rla1) : ''">
                        <ng-container *ngTemplateOutlet="sidebarMenu; context: {menu: menu}"></ng-container>
                    </a>
                    <a *ngIf="menu.url" [routerLink]="menu.url">
                        <ng-container *ngTemplateOutlet="sidebarMenu; context: {menu: menu}"></ng-container>
                    </a>

                    <!-- sidebar submenu lvl-1 -->

                </li>
            </ng-container>



            <!-- <li *appHasRole="['Admin', 'Moderator']" class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/admin']">Admin</a> -->
            <li><a href="javascript:;" class="sidebar-minify-btn" (click)="toggleMinified()"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </ng-template>
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->