<!-- begin #sidebar -->
<div id="sidebar" class="sidebar">
    <!-- begin sidebar scrollbar -->
    <div class="overflow-scroll height-full" #sidebarScrollbar *ngIf="desktopMode" (scroll)="onScroll($event)">
        <ng-container *ngTemplateOutlet="sidebarNav"></ng-container>
    </div>
    <div class="mobile-scroll" *ngIf="mobileMode" (scroll)="onScroll($event)">
        <ng-container *ngTemplateOutlet="sidebarNav"></ng-container>
    </div>
    <!-- end sidebar scrollbar -->
    <ng-template #sidebarNav>
        <!-- begin sidebar user -->
        <ul class="nav">
            <li class="nav-profile" [ngClass]="{ 'active' : (navProfileState == 'expand') }">
                <a href="javascript:;" (click)="toggleNavProfile()">
                    <div class="cover with-shadow"></div>
                    <div class="image image-icon bg-black text-grey-darker">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="info">
                        <b></b> {{ user.username }}
                        <small>{{ user.puesto }}</small>
                    </div>
                </a>
            </li>

        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
            <li class="nav-header">Navigation</li>




            <li *appHasRole="['Admin']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" [routerLink]="['/usuarios']"> <i class="fas fa-user"></i><span> Usuarios</span> </a>
            </li>

            <li #rla1="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/user-editar']"> <i class="fas fa-desktop"></i><span> Catalogos Equipos</span> </a>
            </li>

            <li #rla1="routerLinkActive" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/tickets']"> <i class="fas fa-check-square"></i><span> Tickets</span> </a>
            </li>








            <!-- <li *appHasRole="['Admin', 'Moderator']" class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/admin']">Admin</a> -->
            <li><a href="javascript:;" class="sidebar-minify-btn" (click)="toggleMinified()"><i class="fa fa-angle-double-left"></i></a></li>
            <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
    </ng-template>
</div>
<div class="sidebar-bg"></div>
<!-- end #sidebar -->