<!-- begin profile -->
<div class="profile">
    <div class="profile-header">
        <!-- BEGIN profile-header-cover -->
        <div class="profile-header-cover"></div>
        <!-- END profile-header-cover -->
        <!-- BEGIN profile-header-content -->
        <div class="profile-header-content">
            <!-- BEGIN profile-header-img -->
            <div class="profile-header-img">
                <img *ngIf="!imagenTemp" src="{{ user.fotoUrl || '../../../assets/img/user/user.png'}}" alt="">
                <img *ngIf="imagenTemp" src="{{ imagenTemp || '../../../assets/img/user/user.png'}}" alt="">
            </div>

            <!-- END profile-header-img -->
            <!-- BEGIN profile-header-info -->
            <div class="profile-header-info">
                <h4 class="m-t-10 m-b-5">{{ user.username | titlecase }}</h4>
                <label class="image-upload-container btn btn-xs btn-yellow">
                    <span> Actualizar Img</span>
                    <input #imagetoUpload type="file" accept="image/*" (change)="imgToUpload($event)"
                        accept=".jpeg,.png,.jpg" class="d-none">
                </label>

            </div>
            <!-- END profile-header-info -->
        </div>
        <!-- END profile-header-content -->
        <!-- BEGIN profile-header-tab -->
        <ul class="profile-header-tab nav nav-tabs">
            <li class="nav-item"><a href="javascript:;" (click)="showTab('editPerfil')" [ngClass]="{ 'active': tabs.editPerfil }" class="nav-link">Editar Perfil</a></li>
            <li class="nav-item"><a href="javascript:;" (click)="showTab('equipo')" [ngClass]="{ 'active': tabs.equipo }" class="nav-link">Equipo </a></li>
            <li class="nav-item"><a href="javascript:;" (click)="showTab('perfiles')" [ngClass]="{ 'active': tabs.perfiles }" class="nav-link">Perfiles</a></li>

        </ul>
        <!-- END profile-header-tab -->
    </div>
</div>
<!-- end profile -->
<!-- begin profile-content -->
<div class="profile-content">
    <!-- begin tab-content -->
    <div class="tab-content p-0">

        <!-- begin #perfil -->
        <div class="tab-pane fade" [ngClass]="{ 'active show': tabs.editPerfil }">
            <!-- begin table -->
            <form #formUpdate="ngForm" (ngSubmit)="updateUser()">
                <div class="table-responsive">
                    <table class="table table-profile">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    <h4>{{ user.puesto | titlecase}}<small></small></h4>
                                </th>
                                <th width="60%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="highlight">
                                <td class="field">Email</td>
                                <td><a href="javascript:;"> {{ user.email}} </a></td>
                                <td></td>
                            </tr>
                            <tr class="divider">
                                <td colspan="2"></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="field">Cel</td>
                                <td><input type="text" class="form-control form-control-sm" name="phoneNumber" [(ngModel)]="user.phoneNumber"></td>
                                <td></td>
                            </tr>


                            <tr class="divider">
                                <td colspan="3"></td>
                            </tr>
                            <tr class="highlight">
                                <td class="field">&nbsp;</td>
                                <td class="p-t-10 p-b-10" colspan="2">
                                    <button type="submit" [disabled]="!formUpdate.dirty" class="btn btn-primary width-150">Actualizar</button>
                                    <a class="btn btn-white btn-white-without-border width-150 m-l-5" routerLink="/dashboard">Cancelar</a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </form>

            <!-- end table -->
        </div>
        <!-- end #perfil -->

        <!-- TODO Pendiente modificar  -->
        <!-- begin #equipo-->
        <div class="tab-pane fade" [ngClass]="{ 'active show': tabs.equipo }">
            <!-- begin table -->
            <div class="table-responsive" *ngIf="!equipo">
                <table class="table table-profile">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <h4>Computadora <small>{{ user.username }}</small></h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="equipo">
                        <tr class="highlight">
                            <td class="field">Nombre de Equipo</td>
                            <td><input type="text" class="form-control form-control-sm" name="nombreEquipo" [(ngModel)]="equipo.nombreEquipo "></td>
                        </tr>
                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                        <tr class="highlight">
                            <td class="field">Direccion Ip</td>
                            <td><input type="text" class="form-control form-control-sm" name="direccionIp" [(ngModel)]="equipo.ip "></td>
                        </tr>
                        <tr class="highlight">
                            <td class="field">Caracteristicas</td>
                            <td><input type="text" class="form-control form-control-sm" name="direccionIp" [(ngModel)]="equipo.caracteristicas"></td>
                        </tr>

                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                        <tr class="highlight">
                            <td class="field">&nbsp;</td>
                            <td class="p-t-10 p-b-10">
                                <button type="submit" class="btn btn-primary width-150">Update</button>
                                <button type="submit" class="btn btn-white btn-white-without-border width-150 m-l-5">Cancel</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- end table -->
        </div>
        <!-- end #equipo -->

        <!-- begin #perfiles-->
        <div class="tab-pane fade" [ngClass]="{ 'active show': tabs.perfiles }">
            <!-- begin table -->
            <div class="table-responsive">
                <table class="table table-profile">
                    <thead>
                        <tr>
                            <th></th>
                            <th>
                                <h4>nop<small>Sistemas Stokes</small></h4>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="highlight">
                            <td class="field">Email</td>
                            <td><a href="javascript:;">email@any.com</a></td>
                        </tr>
                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td class="field">Cel</td>
                            <td><i class="fa fa-mobile fa-lg m-r-5"></i> vamonos <a href="javascript:;" class="m-l-5">Edit</a></td>
                        </tr>
                        <tr>
                            <td class="field">Oficina</td>
                            <td><a href="javascript:;">Add Number</a></td>
                        </tr>

                        <tr class="divider">
                            <td colspan="2"></td>
                        </tr>
                        <tr class="highlight">
                            <td class="field">&nbsp;</td>
                            <td class="p-t-10 p-b-10">
                                <button type="submit" class="btn btn-primary width-150">Update</button>
                                <button type="submit" class="btn btn-white btn-white-without-border width-150 m-l-5">Cancel</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- end table -->
        </div>
        <!-- end #perfiles -->


    </div>
    <!-- end tab-content -->
</div>
<!-- end profile-content -->