<div *ngIf="user">

    <app-header-user [user]="user" (tabname)="showTab($event)" [actualizarImg]="actImg"></app-header-user>

    <!-- begin profile-content -->
    <div class="profile-content">

        <!-- begin tab-content -->
        <div class="tab-content p-0">

            <!-- begin #perfil -->
            <div class="tab-pane fade" [ngClass]="{ 'active show': tabs.editPerfil }">

                <div class="table-responsive">
                    <form #formUpdate="ngForm" (ngSubmit)="updateUser(user.id)">
                        <table class="table table-profile">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>

                                        <form class="form-inline col-md-8 " [formGroup]="formCambiarPassword">
                                            <h4 class="mr-2 ">
                                                {{ user.username | titlecase}}<small>{{ user.puesto | titlecase}}</small>
                                            </h4>

                                            <a class="ml-2 btn btn-warning  btn-circle"
                                                (click)="updatePassword = !updatePassword" disabled="!updatePassword">
                                                <i class="fa fa-unlock-alt pull-left m-r-10 text-black"></i> <small
                                                    *ngIf="!updatePassword">Cambiar contraseña</small>
                                            </a>

                                            <input class="ml-2 col-md-5 form-control" type="password"
                                                *ngIf="updatePassword" [ngClass]="{'is-invalid': formCambiarPassword.get('password').errors 
                                                        && formCambiarPassword.get('password').touched}"
                                                formControlName="password">
                                            <button class="ml-2 btn btn-warning btn-circle"
                                                [disabled]="!formCambiarPassword.valid" *ngIf="updatePassword"
                                                (click)="cambiarPassword( user.id, formCambiarPassword.get('password').value )">Cambiar
                                            </button>

                                            <div class="invalid-feedback"
                                                *ngIf="formCambiarPassword.get('password').hasError('minlength') && formCambiarPassword.get('password').touched">
                                                La Contraseña debe contener minimo 6 caracteres
                                            </div>
                                            <div class="invalid-feedback"
                                                *ngIf="formCambiarPassword.get('password').hasError('maxlength') && formCambiarPassword.get('password').touched">
                                                La Contraseña debe contener maximo 12 caracteres
                                            </div>

                                        </form>

                                    </th>
                                    <th>

                                    </th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="highlight">
                                    <td class="field">Email</td>
                                    <td> <input type="email" class="col-md-4 form-control form-control-sm" name="email"
                                            [(ngModel)]="user.email"> </td>
                                    <td></td>
                                </tr>
                                <tr class="divider">
                                    <td colspan="2"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td class="field">Cel</td>
                                    <td><input type="text" class="col-md-4 form-control form-control-sm"
                                            name="phoneNumber" [(ngModel)]="user.phoneNumber" mask="(000) 000-0000">
                                    </td>
                                    <td></td>
                                </tr>
                                <tr class="highlight">
                                    <td class="field">Puesto</td>
                                    <td><input type="text" class="col-md-4 form-control form-control-sm" name="puesto"
                                            [(ngModel)]="user.puesto"></td>
                                    <td></td>
                                </tr>


                                <tr class="highlight">
                                    <td class="field"> <label class="col-form-label">Estatus </label></td>
                                    <td colspan="2">



                                        <div class="ml-2 form-check form-check-inline">
                                            <input id="1" name="activo" class="form-check-input" type="radio"
                                                [(ngModel)]="user.activo" [value]="true">
                                            <label class="form-check-label" for="1">Activo </label>
                                        </div>

                                        <div class="form-check form-check-inline">
                                            <input id="2" name="activo" class="form-check-input" type="radio"
                                                [(ngModel)]="user.activo" [value]="false">
                                            <label class="form-check-label" for="2"> Inactivo</label>
                                        </div>

                                        <!--  id activo -->


                                    </td>
                                </tr>
                                <tr class="highlight">
                                    <td class="field">&nbsp;</td>
                                    <td class="p-t-10 p-b-10" colspan="2">
                                        <button type="submit" [disabled]="!formUpdate.dirty"
                                            class=" col-md-2 col-sm-3 btn btn-primary width-150">Actualizar</button>
                                        <a class="col-md-2 col-sm-3 btn btn-white btn-white-without-border width-150 m-l-5"
                                            routerLink="/usuarios">Cancelar</a>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>

            </div>
            <!-- end #perfil -->

            <!-- begin #equipo-->
            <div class="tab-pane fade" [ngClass]="{ 'active show': tabs.equipo }">

                <app-equipo [idUsuario]="user.id"></app-equipo>

            </div>
            <!-- end #equipo -->


        </div>
        <!-- end tab-content -->

    </div>
    <!-- end profile-content -->






</div>