<div class="table-responsive">
    <form [formGroup]="equipoForm">
        <table class="table table-profile">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        <h4>Equipo de Computo</h4>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="highlight">
                    <td class="field">&nbsp;</td>
                    <td>
                        <select formControlName="id"   class="col-md-4 custom-select"
                        required> 
                        <option [ngValue]="0" > Ninguno </option>
                        <option  *ngFor="let equipo of equipos" [ngValue]="equipo.id"    >
                            {{ equipo.nombreEquipo }}
                        </option>
                     
                       
                    </select>
                      
                    </td>
                </tr>
                <tr class="divider">
                    <td colspan="2"></td>
                </tr>

                <tr class="highlight">
                    <td class="field">&nbsp;</td>
                    <td class="p-t-10 p-b-10">

                        <button (click)="updateEquipo( )"
                            class=" col-md-2 col-sm-3 btn btn-primary width-150">Guardar</button>


                        <a class="col-md-2 col-sm-3 btn btn-white btn-white-without-border width-150 m-l-5"
                            routerLink="/usuarios">Cancelar</a>
                    </td>

                </tr>
            </tbody>
        </table>

        <table *ngIf="false">
            <tr>
                <td></td>
            </tr>
        </table>
    </form>
</div>