<!-- 
       
    <li class="fa-file" *ngSwitchCase="'docx'">
    <div class="document-file">
        <a [href]="item.archivoUrl">
            <i class="fa fa-file-word"></i>
        </a>
    </div>
    <div class="document-name"><a [href]="item.archivoUrl">{{ item.nombre }}</a></div>
</li>

<li class="fa-file" *ngSwitchCase="'doc'">
    <div class="document-file">
        <a [href]="item.archivoUrl">
            <i class="fa fa-file-word"></i>
        </a>
    </div>
    <div class="document-name"><a [href]="item.archivoUrl">{{ item.nombre }}</a></div>
</li>

<li class="fa-file-excel" *ngSwitchCase="'xls'">
    <div class="document-file">
        <a [href]="item.archivoUrl">
            <i class="fa fa-file-word"></i>
        </a>
    </div>
    <div class="document-name"><a [href]="item.archivoUrl">{{ item.nombre }}</a></div>
</li>

<li class="fa-file" *ngSwitchCase="'xlsx'">
    <div class="document-file">
        <a [href]="item.archivoUrl">
            <i class="fa fa-file-word"></i>
        </a>
    </div>
    <div class="document-name"><a [href]="item.archivoUrl">{{ item.nombre }}</a></div>
</li>

<li class="fa-camera" *ngSwitchCase="'jpeg'">
    <div class="document-file">
        <a [href]="item.archivoUrl">
            <img [src]="item.archivoUrl" />
        </a>
    </div>
    <div class="document-name"><a [href]="item.archivoUrl">{{ item.nombre }}</a></div>
</li>

<li class="fa-camera" *ngSwitchCase="'jpg'">
    <div class="document-file">
        <a [href]="item.archivoUrl">
            <img [src]="item.archivoUrl" />
        </a>
    </div>
    <div class="document-name"><a [href]="item.archivoUrl">{{ item.nombre }}</a></div>
</li>

<li class="fa-camera" *ngSwitchCase="'png'">
    <div class="document-file">
        <a [href]="item.archivoUrl">
            <img [src]="item.archivoUrl" />
        </a>
    </div>
    <div class="document-name"><a [href]="item.archivoUrl">{{ item.nombre }}</a></div>
</li>

<li class="fa-file" *ngSwitchCase="'pdf'">
    <div class="document-file">
        <a [href]="item.archivoUrl">
            <i class="fa fa-file-pdf"></i>
        </a>
    </div>
    <div class="document-name"><a [href]="item.archivoUrl">{{ item.nombre }}</a></div>
</li>

<li class="fa-file" *ngSwitchCase="'rar'">
    <div class="document-file">
        <a [href]="item.archivoUrl">
            <i class="fa fa-file-zip"></i>
        </a>
    </div>
    <div class="document-name"><a [href]="item.archivoUrl">{{ item.nombre }}</a></div>
</li>

<li class="fa-file" *ngSwitchCase="'zip'">
    <div class="document-file">
        <a [href]="item.archivoUrl">
            <i class="fa fa-file-zip"></i>
        </a>
    </div>
    <div class="document-name"><a [href]="item.archivoUrl">{{ item.nombre }}</a></div>
</li>

<li class="fa-file" *ngSwitchDefault>
    <div class="document-file">
        <a [href]="item.archivoUrl">
            <i class="fa fa-file"></i>
        </a>
    </div>
    <div class="document-name"><a [href]="item.archivoUrl">{{ item.nombre }}</a></div>
</li>
 -->
