<div class="row">
   
    <!-- <app-table class="table table-responsive" [columnas]="columnas" [filas]="users"></app-table> -->
</div>

<!-- 
<div *ngIf="paginacion" class="row">

        <select class="custom-select" style="width: auto" [(ngModel)]="paginacion.itemsxPagina">
                <option  [ngValue]="10">Mostrar 10 </option>
                <option [ngValue]="25">Mostrar 25 </option>
                <option [ngValue]="50">Mostrar 50 </option>
              </select>
        <ngb-pagination  
        [collectionSize]="paginacion.totalItems"
         [(page)]="paginacion.paginaActual" [pageSize]="paginacion.itemsxPagina" (pageChange)="cambiaPagina($event)" 
         [maxSize]="5" [rotate]="true" [ellipses]="false"
          [boundaryLinks]="true">
        </ngb-pagination> 
        
      <p class="ml-auto p-2 font-weight-bold"> Total Registros: {{ paginacion?.totalItems }} &nbsp;</p>
   
</div> -->

